# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environments
.env
.venv/
venv/
env/

# Tooling
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Editors / OS
.DS_Store
.idea/
.vscode/
